.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 5em;
  padding: 10px;
  text-align: center;
  background-color: blue;
}
.button-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding: 1em;
}
.hamburger {
  display: none;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 5em;
    padding: 2px;
  }
  .burger-button-container {
    display: flex;
    flex-direction: column;
    padding-right: 3em;
  }
  .hamburger {
    display: block;
  }
  .button-container {
    display: none;
  }
  .button-container.hidden {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding: 1em;
  }
}
